* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/hexagon.jpg);
    background-size: cover;
}

/*Navigation*/
header {
    text-align: end;
}

header h1 {
    font-size: 48px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 50px;
    Background-image: url(../images/hexagonal-background.jpg);
    background-size: contain;
}

header a {
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color:antiquewhite;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    background-color: gray;
    padding: 10px
    
}

.section-title {
    font-size: 32px;
    color: #750505;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    margin: 35px auto 35px auto;
    width: 10%;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    clear: both;
}

/*About Me*/
.image img {
    border: 2px solid #750505;
    border-radius: 5px;
    width: 8%;
    height: 8%;
    float: left;
    margin-left: 10px;
}

.info p {
    text-align: left;
    font-size: 24px;
    line-height: 1.4;
}

/*My Work*/
.work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-done {
    border: 5px solid #750505;
    border-radius: 5px;
    background-image: url(../images/RunBuddy.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    display:flex;
    filter:brightness(80%)
}

.project-done:hover, .working:hover {
    filter:brightness(100%);
    transform: scale(1.1);
}

.project-done a, .working a {
    overflow:hidden;
    text-indent: 100%;
    width: 400px;
    height: 300px;
    position: absolute;
}

.working {
    border: 5px solid #750505;
    border-radius: 5px;
    background-image: url(../images/Caution.jpg);
    background-size:contain;
    width: 400px;
    height: 300px;
    display:flex;
    filter:brightness(80%)
}



.work-title {
    font-size: 18px;
    color: antiquewhite;
    background-color: gray;
    display: flex;
    align-items: flex-end;
    margin-top: 278px;
    padding: 2px;
}

/*Contact Me */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    background-color: gray;
    padding: 10px;

}

.contact a {
    font-size: 16px;
    text-decoration: none;
    color:antiquewhite;
}